# gradle
.gradle/
build/
out/
classes/
.gradletasknamecache
gradlew
gradlew.bat
gradle/wrapper/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# fabric
run/

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr
all_jars/
*.py
